:root{
    --white: #fff;
    --gray: #555;
}
body{
    margin: 0;
    min-height: 100vh;
    font-family: calibri;
}
.header{

    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario{
    background-color: var(--gray);
    color: var(--white);
    font-weight: 800;
    padding: 1rem;
}
.formulario__buttons input{
    background-color: var(--white);
    color: var(--gray);
    padding: 0.5rem;
}
label{
    display: block;
    margin: 1rem 0;
}
.resultado{
    width: 100%;
    margin: 1rem 0;
}